.container__focus {
    width: 100%;
    height: var(--height-main);
    background-color: var(--color-variation);
    color: var(--color-white);
    scroll-snap-align: start;
}
.focus__info {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.focus__title {
    padding-top: 15px;
    font-size: 2.5rem;
    font-weight: bold;
}
.focus__time {
    margin: 10px 0;
    font-size: 2rem;
}
.focus__total {
    margin: auto 0 20px auto;
    font-size: 2.5rem;
}


@media only screen and (min-width: 600px) {
    .focus__info {
        padding-left: 20px;
    }
}
