.container__timer {
    display: flex;
    width: 80%;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
}
.timer__counter {
    margin: 0 auto 30px;
    color: var(--productivity-color);
    font-size: 6rem;
}
.timer__btn {
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: 2px solid var(--variation-color);
    border-radius: 25px;
    opacity: 1;
    background-color: var(--secondary-color);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 150ms border;
}
.timer__btn:hover, .timer__btn:focus {
    border: 8px solid var(--variation-color);
}
.timer__btn--disabled {
    opacity: 0;
    cursor: auto;
}
.timer__counter--rest {
    color: var(--rest-color);
}


.container__productivity {
    width: 100%;
    height: 100vh;
    background-color: var(--variation-color);
    color: var(--white);
    scroll-snap-align: start;
}
.productivity__info {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.productivity__title {
    padding-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}
.productivity__time {
    margin: 10px 0;
    font-size: 2rem;
}
.productivity__total {
    margin: auto 0 30px auto;
    font-size: 2.5rem;
}
