.container__timer {
    display: flex;
    width: 80%;
    min-width: 300px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
}
.timer__counter {
    margin: 0 auto 30px;
    color: var(--color-productivity);
    font-size: 6rem;
}
.timer__btn {
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: 2px solid var(--color-variation);
    border-radius: 25px;
    opacity: 1;
    background-color: var(--color-secondary);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 150ms border;
}
.timer__btn:hover, .timer__btn:focus {
    border: 8px solid var(--color-variation);
}
.timer__btn--disabled {
    opacity: 0;
    cursor: auto;
}
.timer__counter--rest {
    color: var(--color-rest);
}
