header {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: var(--color-productivity);
    color: var(--color-white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    width: 25px;
}
.header__title {
    font-size: 1.2rem;
}
.header__icon {
    fill: var(--color-white);
}
.icon--pomodoro {
    display: none;
}
.pomodoro--dark {
    fill: black;
}
.toggle--dark {
    display: none;
}
.toggle--dark + label {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 16px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    cursor: pointer;
}
.toggle--dark + label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 20px;
    border-radius: 50%;
    background-color: var(--color-variation);
    transition: all 0.3s ease-in;
}
.toggle--dark:checked + label::after {
    left: 0;
}
.header__icon--github {
    margin-top: 4px;
}

.header__svg--rest {
    fill: var(--color-primary);
}
.header--rest {
    background-color: var(--color-rest);
    color: var(--color-primary);
}


@media only screen and (min-width: 600px) {
    body.force-dark > .header--rest .pomodoro--light {
        fill: white;
    }
    .toggle {
        width: 125px;
    }
    .header__title {
        font-size: 1.8rem;
        margin-left: -100px;
    }
    .icon--pomodoro {
        display: inline-block;
    }
    .toggle--dark + label {
        width: 50px;
        height: 20px;
        margin-bottom: 1px;
    }
    .toggle--dark + label::after {
        width: 25px;
        height: 25px;
        left: 25px;
    }
}
