* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #f0e2e7;
    --secondary-color: #FCBA04;
    --productivity-color: #d72638;
    --rest-color: #76b041;
}
body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}


main {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}


.container__timer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.timer__counter {
    margin: 0 auto 30px;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    color: var(--productivity-color);
    font-size: 6rem;
}
.timer__btn {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 20px 15px 20px 20px rgba(0, 0, 0, 0.7);
    font-size: 2rem;
}
.timer__btn--start {
    display: inline-block;
    background-color: var(--secondary-color);
}
.timer__counter--rest {
    color: var(--rest-color);
}


.productivity {
    width: 310px;
    margin: 50px auto;
}
.productivity__time {
    margin: 10px 0;
    font-size: 2rem;
}
.productivity__total {
    margin-top: 20px;
    font-size: 4rem;
}
