* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #f2dedc;
    --color-secondary: #00c3dd;
    --color-variation: #4f4e8f;
    --color-productivity: #9e3f3f;
    --color-rest: #8fb627;
    --color-white: #fafbfd;
}
body {
    background-color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
}


main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
