* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark: #121212;
    --color-primary: #f2dedc;
    --color-secondary: #00c3dd;
    --color-variation: #4f4e8f;
    --color-productivity: #9e3f3f;
    --color-rest: #8fb627;
    --color-white: #fafbfd;
    --height-main: calc(100vh - 50px);
}
body {
    background-color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
}


main {
    height: var(--height-main);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


@media only screen and (min-width: 600px) {
    main::-webkit-scrollbar {
        width: 20px;
    }
    main::-webkit-scrollbar-track {
        background: var(--color-secondary);
    }
    main::-webkit-scrollbar-thumb {
        background: var(--color-productivity);
    }
    .scrollbar--rest::-webkit-scrollbar-thumb {
        background: var(--color-rest);
    }
}


@media (prefers-color-scheme: dark) {
    body:not(.force-light) {
        --color-primary: var(--dark);
        --color-secondary: #B5B0B0;
        --color-variation: #4A2A2A;
        --color-productivity: #902923;
        --color-rest: #6AB547;
        --color-white: #C0BAB2;
    }
}

body.force-dark {
    --color-primary: var(--dark);
    --color-secondary: #B5B0B0;
    --color-variation: #4A2A2A;
    --color-productivity: #902923;
    --color-rest: #6AB547;
    --color-white: #C0BAB2;
}
